<h1>Edit Transaction</h1>
<h2>Transaction ID: <%=@transaction.id%> </h2>
<h2> <%=@transaction.version%> of <%=@transaction.amount%> </h2>
<form class="" action="/transactions/<%=@transaction.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <br>
  <h1>Transaction version? (Deposit or Withdrawl)</h1>
    <input id="transaction_version" type="checkbox" name="deposit" value=<%= @transaction.version %> <%= 'checked' if @transaction.version == "deposit" %>>Deposit</input>
    <input id="transaction_version" type="checkbox" name="withdrawl" value=<%= @transaction.version %> <%= 'checked' if @transaction.version == "withdrawl" %>>Withdrawl</input>
    <br>
  <h1>Amount (converts every 100 cents to dollars)</h1>
    <input id="transaction_amount" type="text" name="transaction[amount]" value="<%=@transaction.amount%>">
    <br>
    <input type="submit" name="Edit Transaction" value="submit" id="Edit Transaction">
    <br>
</form>

<form class="" action="/transactions/<%=@transaction.id%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" name="Delete Transaction" value="delete" id="Delete Transaction">
</form>

<a href="/transactions">Back to Transactions list</a><br>
