<h1>CURRENT USER</h1>
<h2><%= current_user.username %></h2>
<h1>CURRENT BALANCE</h1>
<h2><%= cents_to_dollars(current_user.balance) %></h2>
<h1>INFO</h1>
<h2><%= current_user.content %></h2>
<h1>List of Transactions </h1>
<% @transactions.each do |transaction| %>
<h2><a href="/transactions/<%=transaction.id%>"><%= transaction.version %> of <%= cents_to_dollars(transaction.amount)%></a></h2>
<%end%>
<br>
<br>
<a href="/transactions/new">New Transaction</a><br>
<a href="/transactions/"
<a href="/logout">logout</a>
